# Managed by ansible-haproxy-decision
{{ (
     haproxy_decision_decision_context
       | default({}, true)
       | to_nice_yaml(indent=2, sort_keys=False, explicit_start=False, explicit_end=False)
   ) | trim }}
