{% set spoa = spoa if spoa is defined else spoa_item.value %}
# Managed by ansible-haproxy-decision

DECISION_SPOA_OPTS="\
{% for opt in spoa.env_opts | default([]) %}
  {{ opt }}{% if not loop.last %} \{% endif %}
{% endfor %}"
