vcl 4.1;

backend default {
    .host = "127.0.0.1";
    .port = "9080";
}

sub vcl_recv {
    return (hash);
}

sub vcl_backend_response {
    set beresp.ttl = 120s;
}

sub vcl_deliver {
    set resp.http.X-Cache = "HIT";
}
